<div class="contentbox"><%=raw @page[:body] %></div>
<div class="sidebar">
  <li class="link first"><a href="/articles">Berita</a></li>
  <li class="link "><a href="/pengumuman">Pengumuman</a></li>
  <li class="link "><a href="/events">Event</a></li>
  <li class="link "><a href="/forum">Forum</a></li>
  <li id="current" class="link last"><a href="/contact">CONTACT US</a></li><br />
  <h3 style="text-align:center;">Follow us!</h3><br />
  <div style="text-align:center;">
    <a href="http://twitter.com/smatigamaret">
      <img src="/images/twitter-icon.png" alt="tweet" title="follow us" /></a>
    <a href="https://www.facebook.com/group.php?gid=89783830299">
      <img src="/images/facebook-icon.png" alt="fb" title="like us" /></a>
    <a href="http://www.koprol.com/places/103571">
      <img src="/images/koprol.png" alt="koprol" title="check in at" /></a>
  </div>
</div>